[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://${PYPI_USERNAME}:${PYPI_PASSWORD}@pypi.appfigur.es/simple"
verify_ssl = true
name = "appfigures"

[dev-packages]
pylint = "*"

[packages]
flask = "*"
"jinja2" = "*"
redis-types = "*"
celery = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python -m supertramp.app"
