[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://${PYPI_USERNAME}:${PYPI_PASSWORD}@pypi.appfigur.es/simple"
verify_ssl = true
name = "appfigures"

[dev-packages]
pylint = "*"
mypy = "*"
pytest = "*"

[packages]
flask = "*"
redis-types = "*"
walrus = "*"
celery = {git = "https://github.com/celery/celery.git", ref = "HEAD"}

[requires]
python_version = "3.7"

[scripts]
flask = "flask run"
celery = "celery -A supertramp.celery worker -E"
